body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

#content {
    text-align: center;
    flex-direction: column;
    max-width: 1000px;
    background-color: #EEEEEE;
    padding: 3em;
}

section p {
    margin-top: 3em;
    margin-bottom: 3em;
}

header h1 {
    font-size: 44px;
    color: #6C584C;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-size: 36px;
}

nav li a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #6C584C;
}

nav li a:hover {
    color: #A98467;
}

.active {
    color:#A98467;
}

.StdPic {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.responsive {
    max-width: 100%;
    height: auto;
}

address ul {
    list-style-type:none;
}


#LocationMap {
    width: 70%;
}

#AboutUs_Logo {
    width: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    justify-content:space-between;
}

#copyright {
    margin-top: auto;
    margin-bottom: 0;
}

#socials img {
    width:70px;
    height:70px;
}

#socials ul {
    list-style-type:none;
}
